.style {
  text-align: center;
  background: url("../image/backgrounds/h_img.jpg") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: aliceblue;
  position: center;
}
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about {
  text-align: center;
  padding: 3%;
  margin: auto;
  border-radius: inherit;
  display: cover;
  width: 100%;
}

.sr {
  background: url("../image/backgrounds/s_image.jpg") no-repeat;
  border: 100%;
  height: 50vh;
  background-size: cover;
  color: aliceblue;
  text-align: center;
  position: center;
  padding-top: 8%;
}
.img1 {
  position: relative;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.mytext {
  position: absolute;
  padding: 4%;
  background-color: white;
  text-align: center;
  top: 40%;
  left: 40%;
  transform: translate(-25%, -45%);
  display: none;
}
.icon {
  text-align: center;
}
.icon h2 {
  padding-top: 30px;
}
.portfolio {
  text-align: center;
  padding-top: 2%;
}
.ct {
  background: url("../image/backgrounds/c_image.jpg") no-repeat;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: white;
}

.cc {
  margin-left: 0%;
  margin-right: 3%;
  padding-right: 23%;
  background: transparent;
}
.ct ::placeholder {
  color: white;
}
.message {
  margin-left: 0%;
  padding-right: 59%;
  margin-top: 22px;
  padding-bottom: 400px;
  background: transparent;
}
.btn {
  background: transparent;
  margin-top: 4%;
  border-color: white;
  color: white;
}
.io {
  margin-top: 7%;
  margin-bottom: 3%;
  color: black;
}
#mouse {
  margin-top: 40%;
}
.ct h2 {
  padding-top: 30px;
}
